# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*
*.local
!.env.example

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# TypeScript incremental build cache
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 後端忽略整個 data 資料夾
/backend/data/*
!/backend/data/.gitkeep
